<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Styles/normalize.css" rel="stylesheet" />
    <link href="~/Content/Styles/skeleton.css" rel="stylesheet" />
    <link href="~/Content/Styles/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container center">
        <div class="row">
            <div class="twelve columns marginbund7">
                <img src="~/Content/LogoBanner/NIKONexperten.jpg" />
            </div>
        </div>
        <div class="row menuBackground">
            <div class="twelve columns menuBackground">
                <nav>
                    <ul>
                        <li>
                            <a href="~/Home/Index/">Forside</a>
                            <a href="~/Produkt/Produkter/">Produkter</a>
                            <a href="~/Home/Omos/">Om os</a>
                            <a href="~/Home/Kontakt/">Kontakt</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns marginbund7">
                <img src="~/Content/LogoBanner/Banner01.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="twelve columns white">
                @RenderBody() @*Her kommer dataerne fra de andre sider der er linket til RenderBody.(Denne side)*@
            </div>
        </div>
    </div>
</body>
</html>


