* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #494949;
}

.menuBackground {
    background-color: #e0d4be;
}

.menuBorder {
    border-top: 1px solid #f9b13b;
    margin-top: 3px;
    border-bottom: 1px solid #f9b13b;
    margin-bottom: 3px;
}

.height100 {
    height: 100px;
    width: 100px;
}

.white {
    background-color: white;
}

.center {
    margin: 0 auto 0 auto;
}

.marginbund7 {
    margin-bottom: -7px;
}

.OrangeOverskrift {
    color: #f9b13b;
}

.HvidTekst {
    color: white;
}

.SortBaggrund {
    background-color: black;
}

.OrangeBorder {
    border: #f9b13b 1px solid;
}

/*40px margin bund*/

.marginbund40 {
    margin-bottom: 40px;
}

/* Billede størrelse + margin-top*/

.sizemarginpic {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

/* Menuen :*/

nav {
    text-align: center;
}

ul {
    display: inline;
    list-style: none;
}

    ul li {
        list-style: none;
        display: inline;
    }

        ul li a {
            color: #5f5e5a;
            text-decoration: none;
            font-size: 20px;
            padding-left: 40px;
        }

footer {
    background-color: #e0d4be;
    margin-bottom: 40px;
}

.footerBorder {
    border-top: 1px solid #f9b13b;
    margin-top: 3px;
    border-bottom: 1px solid #f9b13b;
    margin-bottom: 3px;
}


.paddingleft20px {
    padding-left: 20px;
}