
@{
    ViewBag.Title = "NyKategori";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutPage1.cshtml";
}

<h2>NyKategori</h2>

<form name="myForm" action="/CMS/aKategori/AddKat/" enctype="multipart/form-data" method="post">

    <table>
        <tr>
            <td>Navn:</td>
            <td><input id="Navn" type="text" name="Navn" /></td>
        </tr>
        <tr>
            <td>Sortering:</td>
            <td><input id="Sortering" type="text" name="Sortering" /></td>
        </tr>
        <tr>
            <td>/td>
            <td><input id="Submit1" type="submit" value="Opret" /></td>
        </tr>
        
    </table>
@ViewBag.MSG

    
    
</form> 
@*hej med  dig*@