
@{
    ViewBag.Title = "NyKategori";
    Layout = "~/Areas/CMS/Views/Shared/_LayoutPage1.cshtml";
}

<h2>NyKategori</h2>

<form name="myForm" action="/CMS/aKategori/AddKat/" enctype="multipart/form-data" method="post">
    Navn:<input id="Navn" type="text" name="Navn" />
    <br />
    Sortering:<input id="Sortering" type="text" name="Sortering" />
    <br />
    <input id="Submit1" type="submit" value="Opret" />
    @ViewBag.MSG
</form>  