@using RepoNE

@model ProduktListe

@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}

@*<h5>@Model.Kategori.Navn</h5>*@

<div class="three columns" style="border: 2px solid orange;">
    <table>
        <tr>
            <td>
                @*<form name="myForm" action="/Produkt/Produkter/" enctype="multipart/form-data" method="post">
                    <select name="KatID">
                        @foreach (Produkt p in Model.Produkter)
                        {
                            <option value="@p.ID">@p.Navn</option>
                        }
                    </select>
                </form>*@
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>

<div class="eight columns" style="border: 2px solid orange;">
    <table>
        <tr>
            <td>
                <img src="~/Content/Produkter/Kamera.jpg" style="width: 100px; height: 100px;" />
            </td>
            <td style="padding-left: 25px;">
                Varenummer:
                <br />
                Pris:
                <br />
                Leveringstid:
            </td>
            <td>
                345
                <br />
                3.199.00 kr.
                <br />
                2-3 dage
            </td>
            <td>
                NIKON
                <br />
                @*eventuelt tilbuds pris her*@
                <br />
                2 stk.
            </td>
            <td style="padding-left:185px;">
                <img src="~/Content/Produkter/info.png" style="height: 50px; width: 50px;" />
                <br />
                <a href="#">[Se mere]</a>



            </td>
        </tr>
    </table>
</div>