@using RepoNE
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}


<table class="three columns height100 OrangeBorder">
    <tr>
        <td class="OrangeBorder">
            <img src="~/Content/Produkter/nikon_d300_1.jpg" class="sizemarginpic"/>
        </td>
    </tr>
    <tr class="SortBaggrund">
        <td>
            <h5 class="OrangeOverskrift">DSLR kamera</h5>
            <p class="HvidTekst">I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>

<table class="three columns height100 OrangeBorder">

    <tr>
        <td class="OrangeBorder">
            <img src="~/Content/Produkter/afs_dx_18_140.jpg" class="sizemarginpic"/>
        </td>
    </tr>
    <tr class="SortBaggrund">
        <td>
            <h5 class="OrangeOverskrift">DSLR kamera</h5>
            <p class="HvidTekst">I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
        
    </tr>
</table>

<table class="three columns height100 OrangeBorder">
    <tr>
        <td class="OrangeBorder">
            <img src="~/Content/Produkter/untitled.png" class="sizemarginpic" />
        </td>
    </tr>
    <tr class="SortBaggrund">
        <td>
            <h5 class="OrangeOverskrift">DSLR kamera</h5>
            <p class="HvidTekst">I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>

<table class="three columns height100 OrangeBorder">
    <tr>
        <td class="OrangeBorder">
            <img src="~/Content/Produkter/Statov.png" class="sizemarginpic" />
        </td>
    </tr>
    <tr class="SortBaggrund">
        <td>
                <h5 class="OrangeOverskrift">DSLR kamera</h5>
                <p class="HvidTekst">I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>          
        </td>
    </tr>
</table>
