
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}


<table class="three columns height100">
    <tr>
        <td>
            <img src="~/Content/Produkter/nikon_d300_1.jpg" class="u-max-full-width" />
        </td>
    </tr>
    <tr style="background-color: black;">
        <td>
            <h4 style="color: #f9b13b;">DSLR kamera</h4>
            <p>I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>

<table class="three columns height100">
    <tr>
        <td>
            <img src="~/Content/Produkter/afs_dx_18_140.jpg" class="u-max-full-width" />
        </td>
    </tr>
    <tr>
        <td>
            <h4 style="color: #f9b13b;">DSLR kamera</h4>
            <p>I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>

<table class="three columns height100">
    <tr>
        <td>
            <img src="~/Content/Produkter/untitled.png" class="u-max-full-width" />
        </td>
    </tr>
    <tr>
        <td>
            <h4 style="color: #f9b13b;">DSLR kamera</h4>
            <p>I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>

<table class="three columns height100">
    <tr>
        <td>
            <img src="~/Content/Produkter/Statov.png" class="u-max-full-width" />
        </td>
    </tr>
    <tr>
        <td>
            <h4 style="color: #f9b13b;">DSLR kamera</h4>
            <p style="color:white">I denne produktkategori finder du de nyeste NIKON DSLR kameraer.</p>
        </td>
    </tr>
</table>
